In [2]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
from openpyxl.workbook import Workbook
import statistics 
import os

In [3]:
model = "highlander"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2010&model=highlander'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [4]:
highlander_2010 = json.loads(response.text)
highlander_df_2010 = pd.json_normalize(highlander_2010)
highlander_df_2010

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,sport utility vehicle,22,4,2.7,fwd,gas,27,toyota,highlander 2wd,a,2010
1,18,sport utility vehicle,20,6,3.5,fwd,gas,24,toyota,highlander 2wd,a,2010
2,17,sport utility vehicle,19,6,3.5,awd,gas,23,toyota,highlander 4wd,a,2010
3,27,sport utility vehicle,26,6,3.3,awd,gas,25,toyota,highlander hybrid 4wd,a,2010

In [5]:
model = "highlander"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2011&model=highlander'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [6]:
highlander_2011 = json.loads(response.text)
highlander_df_2011 = pd.json_normalize(highlander_2011)
highlander_df_2011

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,sport utility vehicle,22,4,2.7,fwd,gas,25,toyota,highlander 2wd,a,2011
1,18,sport utility vehicle,20,6,3.5,fwd,gas,24,toyota,highlander 2wd,a,2011
2,17,sport utility vehicle,19,6,3.5,awd,gas,22,toyota,highlander 4wd,a,2011
3,28,sport utility vehicle,28,6,3.5,awd,gas,28,toyota,highlander hybrid 4wd,a,2011

In [7]:
model = "highlander"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2012&model=highlander'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [8]:
highlander_2012 = json.loads(response.text)
highlander_df_2012 = pd.json_normalize(highlander_2012)
highlander_df_2012

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,sport utility vehicle,22,4,2.7,fwd,gas,25,toyota,highlander 2wd,a,2012
1,18,sport utility vehicle,20,6,3.5,fwd,gas,24,toyota,highlander 2wd,a,2012
2,17,sport utility vehicle,19,6,3.5,awd,gas,22,toyota,highlander 4wd,a,2012
3,28,sport utility vehicle,28,6,3.5,awd,gas,28,toyota,highlander hybrid 4wd,a,2012

In [9]:
model = "highlander"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2013&model=highlander'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [10]:
highlander_2013 = json.loads(response.text)
highlander_df_2013 = pd.json_normalize(highlander_2013)
highlander_df_2013

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,small sport utility vehicle,22,4,2.7,fwd,gas,25,toyota,highlander 2wd,a,2013
1,18,small sport utility vehicle,20,6,3.5,fwd,gas,24,toyota,highlander 2wd,a,2013
2,17,small sport utility vehicle,19,6,3.5,awd,gas,22,toyota,highlander 4wd,a,2013
3,28,standard sport utility vehicle,28,6,3.5,awd,gas,28,toyota,highlander hybrid 4wd,a,2013

In [11]:
model = "highlander"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2014&model=highlander'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [12]:
highlander_2014 = json.loads(response.text)
highlander_df_2014 = pd.json_normalize(highlander_2014)
highlander_df_2014

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,small sport utility vehicle,22,4,2.7,fwd,gas,25,toyota,highlander 2wd,a,2014
1,19,small sport utility vehicle,21,6,3.5,fwd,gas,25,toyota,highlander 2wd,a,2014
2,18,standard sport utility vehicle,20,6,3.5,awd,gas,24,toyota,highlander awd,a,2014
3,27,standard sport utility vehicle,28,6,3.5,awd,gas,28,toyota,highlander hybrid awd,a,2014
4,28,standard sport utility vehicle,28,6,3.5,awd,gas,28,toyota,highlander hybrid awd le plus,a,2014

In [13]:
model = "highlander"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2015&model=highlander'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [14]:
highlander_2015 = json.loads(response.text)
highlander_df_2015 = pd.json_normalize(highlander_2015)
highlander_df_2015

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,small sport utility vehicle,22,4,2.7,fwd,gas,25,toyota,highlander 2wd,a,2015
1,19,small sport utility vehicle,21,6,3.5,fwd,gas,25,toyota,highlander 2wd,a,2015
2,18,standard sport utility vehicle,20,6,3.5,awd,gas,24,toyota,highlander awd,a,2015
3,27,standard sport utility vehicle,28,6,3.5,awd,gas,28,toyota,highlander hybrid awd,a,2015
4,28,standard sport utility vehicle,28,6,3.5,awd,gas,28,toyota,highlander hybrid awd le plus,a,2015

In [15]:
model = "highlander"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2016&model=highlander'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [16]:
highlander_2016 = json.loads(response.text)
highlander_df_2016 = pd.json_normalize(highlander_2016)
highlander_df_2016

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,small sport utility vehicle,22,4,2.7,fwd,gas,25,toyota,highlander 2wd,a,2016
1,19,small sport utility vehicle,21,6,3.5,fwd,gas,25,toyota,highlander 2wd,a,2016
2,18,standard sport utility vehicle,20,6,3.5,awd,gas,24,toyota,highlander awd,a,2016
3,27,standard sport utility vehicle,28,6,3.5,awd,gas,28,toyota,highlander hybrid awd,a,2016
4,28,standard sport utility vehicle,28,6,3.5,awd,gas,28,toyota,highlander hybrid awd le plus,a,2016

In [17]:
model = "highlander"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2017&model=highlander'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [18]:
highlander_2017 = json.loads(response.text)
highlander_df_2017 = pd.json_normalize(highlander_2017)
highlander_df_2017

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,small sport utility vehicle,22,4,2.7,fwd,gas,24,toyota,highlander,a,2017
1,21,small sport utility vehicle,23,6,3.5,fwd,gas,27,toyota,highlander le/xle/se/ltd,a,2017
2,20,small sport utility vehicle,23,6,3.5,fwd,gas,27,toyota,highlander,a,2017
3,20,standard sport utility vehicle,22,6,3.5,awd,gas,26,toyota,highlander awd,a,2017
4,19,standard sport utility vehicle,22,6,3.5,awd,gas,26,toyota,highlander awd,a,2017
5,29,standard sport utility vehicle,28,6,3.5,awd,gas,27,toyota,highlander hybrid awd,a,2017
6,30,standard sport utility vehicle,29,6,3.5,awd,gas,28,toyota,highlander hybrid awd le plus,a,2017
7,20,standard sport utility vehicle,23,6,3.5,awd,gas,27,toyota,highlander awd le,a,2017

In [19]:
model = "highlander"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2018&model=highlander'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [20]:
highlander_2018 = json.loads(response.text)
highlander_df_2018 = pd.json_normalize(highlander_2018)
highlander_df_2018

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,small sport utility vehicle,22,4,2.7,fwd,gas,24,toyota,highlander,a,2018
1,21,small sport utility vehicle,23,6,3.5,fwd,gas,27,toyota,highlander le/xle/se/ltd,a,2018
2,20,small sport utility vehicle,23,6,3.5,fwd,gas,27,toyota,highlander,a,2018
3,19,standard sport utility vehicle,22,6,3.5,awd,gas,26,toyota,highlander awd,a,2018
4,20,standard sport utility vehicle,22,6,3.5,awd,gas,26,toyota,highlander awd,a,2018
5,20,standard sport utility vehicle,23,6,3.5,awd,gas,27,toyota,highlander awd le,a,2018
6,29,standard sport utility vehicle,28,6,3.5,awd,gas,27,toyota,highlander hybrid awd,a,2018
7,30,standard sport utility vehicle,29,6,3.5,awd,gas,28,toyota,highlander hybrid awd le plus,a,2018

In [21]:
model = "highlander"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2019&model=highlander'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [22]:
highlander_2019 = json.loads(response.text)
highlander_df_2019 = pd.json_normalize(highlander_2019)
highlander_df_2019

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,small sport utility vehicle,22,4,2.7,fwd,gas,24,toyota,highlander,a,2019
1,21,small sport utility vehicle,23,6,3.5,fwd,gas,27,toyota,highlander le/xle/se/ltd,a,2019
2,20,small sport utility vehicle,23,6,3.5,fwd,gas,27,toyota,highlander,a,2019
3,19,standard sport utility vehicle,22,6,3.5,awd,gas,26,toyota,highlander awd,a,2019
4,20,standard sport utility vehicle,22,6,3.5,awd,gas,26,toyota,highlander awd,a,2019
5,20,standard sport utility vehicle,23,6,3.5,awd,gas,27,toyota,highlander awd le,a,2019
6,29,standard sport utility vehicle,28,6,3.5,awd,gas,27,toyota,highlander hybrid awd,a,2019
7,30,standard sport utility vehicle,29,6,3.5,awd,gas,28,toyota,highlander hybrid awd le plus,a,2019

In [23]:
model = "highlander"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2020&model=highlander'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [24]:
highlander_2020 = json.loads(response.text)
highlander_df_2020 = pd.json_normalize(highlander_2020)
highlander_df_2020

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,small sport utility vehicle,23,6,3.5,fwd,gas,28,toyota,highlander,a,2020
1,21,small sport utility vehicle,24,6,3.5,fwd,gas,29,toyota,highlander,a,2020
2,20,small sport utility vehicle,23,6,3.5,awd,gas,27,toyota,highlander awd,a,2020
3,36,small sport utility vehicle,36,4,2.5,fwd,gas,35,toyota,highlander hybrid,a,2020
4,35,standard sport utility vehicle,35,4,2.5,awd,gas,35,toyota,highlander hybrid awd,a,2020
5,35,standard sport utility vehicle,35,4,2.5,awd,gas,34,toyota,highlander hybrid awd ltd/plat,a,2020

In [25]:
highlander_df_2010_2020 = pd.concat([highlander_df_2010, highlander_df_2011, highlander_df_2012, highlander_df_2013, highlander_df_2014, highlander_df_2015, highlander_df_2016, highlander_df_2017, highlander_df_2018, highlander_df_2019, highlander_df_2020])
highlander_df_2010_2020

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,sport utility vehicle,22,4,2.7,fwd,gas,27,toyota,highlander 2wd,a,2010
1,18,sport utility vehicle,20,6,3.5,fwd,gas,24,toyota,highlander 2wd,a,2010
2,17,sport utility vehicle,19,6,3.5,awd,gas,23,toyota,highlander 4wd,a,2010
3,27,sport utility vehicle,26,6,3.3,awd,gas,25,toyota,highlander hybrid 4wd,a,2010
0,20,sport utility vehicle,22,4,2.7,fwd,gas,25,toyota,highlander 2wd,a,2011
...,...,...,...,...,...,...,...,...,...,...,...,...
1,21,small sport utility vehicle,24,6,3.5,fwd,gas,29,toyota,highlander,a,2020
2,20,small sport utility vehicle,23,6,3.5,awd,gas,27,toyota,highlander awd,a,2020
3,36,small sport utility vehicle,36,4,2.5,fwd,gas,35,toyota,highlander hybrid,a,2020
4,35,standard sport utility vehicle,35,4,2.5,awd,gas,35,toyota,highlander hybrid awd,a,2020
5,35,standard sport utility vehicle,35,4,2.5,awd,gas,34,toyota,highlander hybrid awd ltd/plat,a,2020

In [26]:
highlander_df_2010_2020.to_csv("highlander.csv")

In [27]:
prices = pd.read_csv("true_car_listings.csv")
prices['Make'] = prices['Make'].str.lower()
prices

,Price,Year,Mileage,City,State,Vin,Make,Model
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,acura,ILX6-Speed
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,acura,ILX5-Speed
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,acura,ILX6-Speed
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,acura,ILX5-Speed
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,acura,ILXAutomatic
...,...,...,...,...,...,...,...,...
852117,63215,2017,9,Culver City,CA,YV1A22MK9H1013237,volvo,S90T6
852118,72260,2017,3201,Englewood,NJ,YV4A22PL3H1186162,volvo,XC90T6
852119,55999,2016,28941,Fort Collins,CO,YV4A22PL4G1000868,volvo,XC90AWD
852120,60240,2017,3005,San Leandro,CA,YV4A22NLXH1006162,volvo,V90
852121,76995,2017,2502,New York,NY,YV4BC0ZX1H1109845,volvo,XC90T8

In [32]:
prices_highlander = prices.loc[(prices["Make"] == "toyota") & (prices["Model"] == "Highlander") | (prices["Model"] == "Highlander4dr") | (prices["Model"] == "HighlanderFWD") | (prices["Model"] == "Highlander2WD")]
prices_highlander

,Price,Year,Mileage,City,State,Vin,Make,Model
765435,9980,2006,61251,Houston,TX,JTEDW21A760011150,toyota,Highlander
767108,5991,2007,142450,Jacksonville,FL,JTEEW21A370045818,toyota,Highlander
767952,8444,2006,115373,Ottawa,IL,JTEEW21A760009094,toyota,Highlander
768362,6866,2007,147247,Thorndale,PA,JTEHW21A570042416,toyota,Highlander
768560,8999,2007,113181,Seymour,CT,JTEHW21AX70041097,toyota,Highlander
...,...,...,...,...,...,...,...,...
823105,10999,2006,150613,Longmont,CO,JTEEP21A660159727,toyota,Highlander4dr
823371,33998,2015,19685,BEAUMONT,TX,5TDKKRFH5FS109290,toyota,HighlanderFWD
823455,36000,2016,29753,Scottsboro,AL,5TDKKRFH4GS142816,toyota,HighlanderFWD
823481,31991,2015,34657,Bay Minette,AL,5TDZKRFH5FS118182,toyota,HighlanderFWD
823764,99999,2003,259732,Harrison,AR,JTEHF21A130149294,toyota,Highlander4dr

In [33]:
prices_highlander.to_csv("updated_highlander.csv")