In [1]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
from openpyxl.workbook import Workbook
import statistics 
import os

In [2]:
model = "escape"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2010&model=escape'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [3]:
escape_2010 = json.loads(response.text)
escape_df_2010 = pd.json_normalize(escape_2010)
escape_df_2010

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,21,sport utility vehicle,23,4,2.5,fwd,gas,28,ford,escape fwd,a,2010
1,22,sport utility vehicle,24,4,2.5,fwd,gas,28,ford,escape fwd,m,2010
2,19,sport utility vehicle,21,6,3.0,fwd,gas,25,ford,escape fwd ffv,a,2010
3,34,sport utility vehicle,32,4,2.5,fwd,gas,31,ford,escape hybrid fwd,a,2010
4,20,sport utility vehicle,22,4,2.5,4wd,gas,26,ford,escape 4wd,a,2010
5,18,sport utility vehicle,20,6,3.0,4wd,gas,23,ford,escape 4wd ffv,a,2010
6,30,sport utility vehicle,29,4,2.5,4wd,gas,27,ford,escape hybrid 4wd,a,2010

In [4]:
model = "escape"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2011&model=escape'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [5]:
escape_2011 = json.loads(response.text)
escape_df_2011 = pd.json_normalize(escape_2011)
escape_df_2011

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,23,sport utility vehicle,25,4,2.5,fwd,gas,28,ford,escape fwd,m,2011
1,34,sport utility vehicle,32,4,2.5,fwd,gas,30,ford,escape hybrid fwd,a,2011
2,19,sport utility vehicle,21,6,3.0,fwd,gas,25,ford,escape fwd ffv,a,2011
3,21,sport utility vehicle,23,4,2.5,fwd,gas,27,ford,escape fwd,a,2011
4,30,sport utility vehicle,29,4,2.5,4wd,gas,27,ford,escape hybrid 4wd,a,2011
5,18,sport utility vehicle,20,6,3.0,awd,gas,23,ford,escape 4wd ffv,a,2011
6,20,sport utility vehicle,22,4,2.5,awd,gas,26,ford,escape 4wd,a,2011

In [6]:
model = "escape"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2012&model=escape'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [7]:
escape_2012 = json.loads(response.text)
escape_df_2012 = pd.json_normalize(escape_2012)
escape_df_2012

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,34,sport utility vehicle,32,4,2.5,fwd,gas,30,ford,escape hybrid fwd,a,2012
1,19,sport utility vehicle,21,6,3.0,fwd,gas,25,ford,escape fwd ffv,a,2012
2,21,sport utility vehicle,23,4,2.5,fwd,gas,27,ford,escape fwd,a,2012
3,23,sport utility vehicle,25,4,2.5,fwd,gas,28,ford,escape fwd,m,2012
4,30,sport utility vehicle,29,4,2.5,awd,gas,27,ford,escape hybrid awd,a,2012
5,18,sport utility vehicle,20,6,3.0,awd,gas,23,ford,escape awd ffv,a,2012
6,20,sport utility vehicle,23,4,2.5,awd,gas,26,ford,escape awd,a,2012

In [8]:
model = "escape"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2013&model=escape'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [9]:
escape_2013 = json.loads(response.text)
escape_df_2013 = pd.json_normalize(escape_2013)
escape_df_2013

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,22,small sport utility vehicle,25,4,2.5,fwd,gas,30,ford,escape fwd,a,2013
1,22,small sport utility vehicle,24,4,2.0,fwd,gas,29,ford,escape fwd,a,2013
2,21,small sport utility vehicle,24,4,2.0,awd,gas,28,ford,escape awd,a,2013
3,22,small sport utility vehicle,25,4,1.6,awd,gas,29,ford,escape awd,a,2013
4,23,small sport utility vehicle,26,4,1.6,fwd,gas,32,ford,escape fwd,a,2013

In [10]:
model = "escape"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2014&model=escape'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [11]:
escape_2014 = json.loads(response.text)
escape_df_2014 = pd.json_normalize(escape_2014)
escape_df_2014

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,23,small sport utility vehicle,26,4,1.6,fwd,gas,31,ford,escape fwd,a,2014
1,22,small sport utility vehicle,24,4,2.0,fwd,gas,29,ford,escape fwd,a,2014
2,22,small sport utility vehicle,25,4,2.5,fwd,gas,30,ford,escape fwd,a,2014
3,21,small sport utility vehicle,24,4,2.0,awd,gas,28,ford,escape awd,a,2014
4,22,small sport utility vehicle,25,4,1.6,awd,gas,29,ford,escape awd,a,2014

In [12]:
model = "escape"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2015&model=escape'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [13]:
escape_2015 = json.loads(response.text)
escape_df_2015 = pd.json_normalize(escape_2015)
escape_df_2015

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,23,small sport utility vehicle,26,4,1.6,fwd,gas,31,ford,escape fwd,a,2015
1,21,small sport utility vehicle,24,4,2.0,fwd,gas,29,ford,escape fwd,a,2015
2,21,small sport utility vehicle,25,4,2.5,fwd,gas,30,ford,escape fwd,a,2015
3,22,small sport utility vehicle,25,4,1.6,awd,gas,29,ford,escape awd,a,2015
4,21,small sport utility vehicle,23,4,2.0,awd,gas,28,ford,escape awd,a,2015

In [14]:
model = "escape"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2016&model=escape'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [15]:
escape_2016 = json.loads(response.text)
escape_df_2016 = pd.json_normalize(escape_2016)
escape_df_2016

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,23,small sport utility vehicle,26,4,1.6,fwd,gas,31,ford,escape fwd,a,2016
1,21,small sport utility vehicle,24,4,2.0,fwd,gas,29,ford,escape fwd,a,2016
2,22,small sport utility vehicle,25,4,2.5,fwd,gas,30,ford,escape fwd,a,2016
3,22,small sport utility vehicle,25,4,1.6,awd,gas,29,ford,escape awd,a,2016
4,21,small sport utility vehicle,23,4,2.0,awd,gas,28,ford,escape awd,a,2016

In [16]:
model = "escape"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2017&model=escape'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [17]:
escape_2017 = json.loads(response.text)
escape_df_2017 = pd.json_normalize(escape_2017)
escape_df_2017

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,21,small sport utility vehicle,24,4,2.5,fwd,gas,29,ford,escape fwd,a,2017
1,23,small sport utility vehicle,26,4,1.5,fwd,gas,30,ford,escape fwd,a,2017
2,22,small sport utility vehicle,25,4,2.0,fwd,gas,29,ford,escape fwd,a,2017
3,21,small sport utility vehicle,24,4,2.5,fwd,gas,29,ford,escape fwd ffv,a,2017
4,20,small sport utility vehicle,23,4,2.0,awd,gas,27,ford,escape awd,a,2017
5,22,small sport utility vehicle,24,4,1.5,awd,gas,28,ford,escape awd,a,2017

In [18]:
model = "escape"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2018&model=escape'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [19]:
escape_2018 = json.loads(response.text)
escape_df_2018 = pd.json_normalize(escape_2018)
escape_df_2018

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,23,small sport utility vehicle,26,4,1.5,fwd,gas,30,ford,escape fwd,a,2018
1,21,small sport utility vehicle,24,4,2.0,fwd,gas,28,ford,escape fwd,a,2018
2,21,small sport utility vehicle,24,4,2.5,fwd,gas,29,ford,escape fwd ffv,a,2018
3,21,small sport utility vehicle,24,4,2.5,fwd,gas,29,ford,escape fwd,a,2018
4,22,small sport utility vehicle,24,4,1.5,awd,gas,28,ford,escape awd,a,2018
5,20,small sport utility vehicle,23,4,2.0,awd,gas,27,ford,escape awd,a,2018

In [20]:
model = "escape"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2019&model=escape'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [21]:
escape_2019 = json.loads(response.text)
escape_df_2019 = pd.json_normalize(escape_2019)
escape_df_2019

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,21,small sport utility vehicle,24,4,2.5,fwd,gas,29,ford,escape fwd ffv,a,2019
1,21,small sport utility vehicle,24,4,2.5,fwd,gas,29,ford,escape fwd,a,2019
2,22,small sport utility vehicle,25,4,2.0,fwd,gas,29,ford,escape fwd,a,2019
3,23,small sport utility vehicle,26,4,1.5,fwd,gas,30,ford,escape fwd,a,2019
4,22,small sport utility vehicle,24,4,1.5,awd,gas,28,ford,escape awd,a,2019
5,21,small sport utility vehicle,23,4,2.0,awd,gas,27,ford,escape awd,a,2019

In [22]:
model = "escape"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2020&model=escape'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [23]:
escape_2020 = json.loads(response.text)
escape_df_2020 = pd.json_normalize(escape_2020)
escape_df_2020

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,27,small sport utility vehicle,30,3,1.5,fwd,gas,33,ford,escape fwd,a,2020
1,44,small sport utility vehicle,41,4,2.5,fwd,gas,37,ford,escape fwd hev,a,2020
2,23,small sport utility vehicle,26,4,2.0,awd,gas,31,ford,escape awd,a,2020
3,26,small sport utility vehicle,28,3,1.5,awd,gas,31,ford,escape awd,a,2020
4,43,small sport utility vehicle,40,4,2.5,4wd,gas,37,ford,escape awd hev,a,2020
5,43,small sport utility vehicle,41,4,2.5,fwd,gas,38,ford,escape fwd phev,a,2020

In [24]:
escape_df_2010_2020 = pd.concat([escape_df_2010, escape_df_2011, escape_df_2012, escape_df_2013, escape_df_2014, escape_df_2015, escape_df_2016, escape_df_2017, escape_df_2018, escape_df_2019, escape_df_2020])
escape_df_2010_2020

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,21,sport utility vehicle,23,4,2.5,fwd,gas,28,ford,escape fwd,a,2010
1,22,sport utility vehicle,24,4,2.5,fwd,gas,28,ford,escape fwd,m,2010
2,19,sport utility vehicle,21,6,3.0,fwd,gas,25,ford,escape fwd ffv,a,2010
3,34,sport utility vehicle,32,4,2.5,fwd,gas,31,ford,escape hybrid fwd,a,2010
4,20,sport utility vehicle,22,4,2.5,4wd,gas,26,ford,escape 4wd,a,2010
...,...,...,...,...,...,...,...,...,...,...,...,...
1,44,small sport utility vehicle,41,4,2.5,fwd,gas,37,ford,escape fwd hev,a,2020
2,23,small sport utility vehicle,26,4,2.0,awd,gas,31,ford,escape awd,a,2020
3,26,small sport utility vehicle,28,3,1.5,awd,gas,31,ford,escape awd,a,2020
4,43,small sport utility vehicle,40,4,2.5,4wd,gas,37,ford,escape awd hev,a,2020
5,43,small sport utility vehicle,41,4,2.5,fwd,gas,38,ford,escape fwd phev,a,2020

In [27]:
escape_df_2010_2020.to_csv("escape.csv")

In [25]:
prices = pd.read_csv("true_car_listings.csv")
prices['Make'] = prices['Make'].str.lower()
prices

,Price,Year,Mileage,City,State,Vin,Make,Model
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,acura,ILX6-Speed
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,acura,ILX5-Speed
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,acura,ILX6-Speed
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,acura,ILX5-Speed
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,acura,ILXAutomatic
...,...,...,...,...,...,...,...,...
852117,63215,2017,9,Culver City,CA,YV1A22MK9H1013237,volvo,S90T6
852118,72260,2017,3201,Englewood,NJ,YV4A22PL3H1186162,volvo,XC90T6
852119,55999,2016,28941,Fort Collins,CO,YV4A22PL4G1000868,volvo,XC90AWD
852120,60240,2017,3005,San Leandro,CA,YV4A22NLXH1006162,volvo,V90
852121,76995,2017,2502,New York,NY,YV4BC0ZX1H1109845,volvo,XC90T8

In [28]:
prices_escape = prices.loc[(prices["Make"] == "ford") & (prices["Model"] == "EscapeFWD") | (prices["Model"] == "Escape4dr")]
prices_escape

,Price,Year,Mileage,City,State,Vin,Make,Model
242821,8495,2012,30519,Columbia,SC,1FMCU0C71CKC76640,ford,EscapeFWD
243829,13500,2015,23510,Leavenworth,KS,1FMCU0F72FUB31711,ford,EscapeFWD
243930,16885,2017,6045,Shelby,NC,1FMCU0F7XHUA19385,ford,EscapeFWD
244180,14288,2016,13974,Stuart,FL,1FMCU0F74GUB11820,ford,EscapeFWD
245065,10999,2015,34228,Phoenix,AZ,1FMCU0F77FUB31395,ford,EscapeFWD
...,...,...,...,...,...,...,...,...
342262,4500,2003,133287,Topeka,KS,1FMYU03193KC35562,ford,Escape4dr
343111,23995,2016,13391,Bronx,NY,1FMCU0F72GUB83874,ford,EscapeFWD
344240,3995,2005,185951,Bethlehem,PA,1FMCU96H05KC07224,ford,Escape4dr
344695,29700,2017,7600,Bel Air,MD,1FMCU0JD2HUA69923,ford,EscapeFWD
346182,4000,2005,232536,New Castle,PA,1FMYU93175KA87807,ford,Escape4dr