In [1]:
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
from openpyxl.workbook import Workbook
import statistics 
import os

In [2]:
model = "pilot"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2010&model=pilot'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [3]:
pilot_2010 = json.loads(response.text)
pilot_df_2010 = pd.json_normalize(pilot_2010)
pilot_df_2010

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,17,sport utility vehicle,19,6,3.5,fwd,gas,23,honda,pilot 2wd,a,2010
1,16,sport utility vehicle,18,6,3.5,awd,gas,22,honda,pilot 4wd,a,2010

In [4]:
model = "pilot"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2011&model=pilot'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [5]:
pilot_2011 = json.loads(response.text)
pilot_df_2011 = pd.json_normalize(pilot_2011)
pilot_df_2011

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,17,sport utility vehicle,19,6,3.5,fwd,gas,23,honda,pilot 2wd,a,2011
1,16,sport utility vehicle,18,6,3.5,awd,gas,22,honda,pilot 4wd,a,2011

In [6]:
model = "pilot"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2012&model=pilot'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [7]:
pilot_2012 = json.loads(response.text)
pilot_df_2012 = pd.json_normalize(pilot_2012)
pilot_df_2012

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,18,sport utility vehicle,20,6,3.5,fwd,gas,25,honda,pilot 2wd,a,2012
1,17,sport utility vehicle,20,6,3.5,awd,gas,24,honda,pilot 4wd,a,2012

In [8]:
model = "pilot"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2013&model=pilot'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [9]:
pilot_2013 = json.loads(response.text)
pilot_df_2013 = pd.json_normalize(pilot_2013)
pilot_df_2013

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,18,small sport utility vehicle,20,6,3.5,fwd,gas,25,honda,pilot 2wd,a,2013
1,17,standard sport utility vehicle,20,6,3.5,awd,gas,24,honda,pilot 4wd,a,2013

In [10]:
model = "pilot"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2014&model=pilot'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [11]:
pilot_2014 = json.loads(response.text)
pilot_df_2014 = pd.json_normalize(pilot_2014)
pilot_df_2014

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,18,small sport utility vehicle,20,6,3.5,fwd,gas,25,honda,pilot 2wd,a,2014
1,17,small sport utility vehicle,20,6,3.5,awd,gas,24,honda,pilot 4wd,a,2014

In [12]:
model = "pilot"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2015&model=pilot'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [13]:
pilot_2015 = json.loads(response.text)
pilot_df_2015 = pd.json_normalize(pilot_2015)
pilot_df_2015

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,18,small sport utility vehicle,20,6,3.5,fwd,gas,25,honda,pilot 2wd,a,2015
1,17,small sport utility vehicle,20,6,3.5,awd,gas,24,honda,pilot 4wd,a,2015

In [14]:
model = "pilot"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2016&model=pilot'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [15]:
pilot_2016 = json.loads(response.text)
pilot_df_2016 = pd.json_normalize(pilot_2016)
pilot_df_2016

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,small sport utility vehicle,23,6,3.5,fwd,gas,27,honda,pilot 2wd,a,2016
1,19,small sport utility vehicle,22,6,3.5,fwd,gas,27,honda,pilot 2wd,a,2016
2,19,small sport utility vehicle,22,6,3.5,awd,gas,26,honda,pilot 4wd,a,2016
3,18,small sport utility vehicle,21,6,3.5,awd,gas,25,honda,pilot 4wd,a,2016

In [16]:
model = "pilot"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2017&model=pilot'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [17]:
pilot_2017 = json.loads(response.text)
pilot_df_2017 = pd.json_normalize(pilot_2017)
pilot_df_2017

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,small sport utility vehicle,23,6,3.5,fwd,gas,27,honda,pilot fwd,a,2017
1,19,small sport utility vehicle,22,6,3.5,fwd,gas,27,honda,pilot fwd,a,2017
2,19,small sport utility vehicle,22,6,3.5,awd,gas,26,honda,pilot awd,a,2017
3,18,small sport utility vehicle,21,6,3.5,awd,gas,26,honda,pilot awd,a,2017

In [18]:
model = "pilot"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2018&model=pilot'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [19]:
pilot_2018 = json.loads(response.text)
pilot_df_2018 = pd.json_normalize(pilot_2018)
pilot_df_2018

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,small sport utility vehicle,23,6,3.5,fwd,gas,27,honda,pilot fwd,a,2018
1,19,small sport utility vehicle,22,6,3.5,fwd,gas,27,honda,pilot fwd,a,2018
2,19,small sport utility vehicle,22,6,3.5,awd,gas,26,honda,pilot awd,a,2018
3,18,small sport utility vehicle,21,6,3.5,awd,gas,26,honda,pilot awd,a,2018

In [20]:
model = "pilot"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2019&model=pilot'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [21]:
pilot_2019 = json.loads(response.text)
pilot_df_2019 = pd.json_normalize(pilot_2019)
pilot_df_2019

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,small sport utility vehicle,23,6,3.5,fwd,gas,27,honda,pilot fwd,a,2019
1,19,small sport utility vehicle,22,6,3.5,fwd,gas,27,honda,pilot fwd,a,2019
2,19,small sport utility vehicle,22,6,3.5,awd,gas,26,honda,pilot awd,a,2019
3,18,small sport utility vehicle,21,6,3.5,awd,gas,26,honda,pilot awd,a,2019

In [22]:
model = "pilot"
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&year=2020&model=pilot'.format(model)
response = requests.get(api_url, headers={'X-Api-Key': 'fKMDhJfN1z0WarUsLzvC+Q==amYiUlx5q7gwSHKA'})

In [23]:
pilot_2020 = json.loads(response.text)
pilot_df_2020 = pd.json_normalize(pilot_2020)
pilot_df_2020

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,20,small sport utility vehicle,23,6,3.5,fwd,gas,27,honda,pilot fwd,a,2020
1,19,small sport utility vehicle,22,6,3.5,fwd,gas,27,honda,pilot fwd,a,2020
2,19,small sport utility vehicle,22,6,3.5,awd,gas,26,honda,pilot awd,a,2020
3,18,small sport utility vehicle,21,6,3.5,awd,gas,26,honda,pilot awd,a,2020

In [26]:
pilot_df_2010_2020 = pd.concat([pilot_df_2010, pilot_df_2011, pilot_df_2012, pilot_df_2013, pilot_df_2014, pilot_df_2015, pilot_df_2016, pilot_df_2017, pilot_df_2018, pilot_df_2019, pilot_df_2020])
pilot_df_2010_2020

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,17,sport utility vehicle,19,6,3.5,fwd,gas,23,honda,pilot 2wd,a,2010
1,16,sport utility vehicle,18,6,3.5,awd,gas,22,honda,pilot 4wd,a,2010
0,17,sport utility vehicle,19,6,3.5,fwd,gas,23,honda,pilot 2wd,a,2011
1,16,sport utility vehicle,18,6,3.5,awd,gas,22,honda,pilot 4wd,a,2011
0,18,sport utility vehicle,20,6,3.5,fwd,gas,25,honda,pilot 2wd,a,2012
1,17,sport utility vehicle,20,6,3.5,awd,gas,24,honda,pilot 4wd,a,2012
0,18,small sport utility vehicle,20,6,3.5,fwd,gas,25,honda,pilot 2wd,a,2013
1,17,standard sport utility vehicle,20,6,3.5,awd,gas,24,honda,pilot 4wd,a,2013
0,18,small sport utility vehicle,20,6,3.5,fwd,gas,25,honda,pilot 2wd,a,2014
1,17,small sport utility vehicle,20,6,3.5,awd,gas,24,honda,pilot 4wd,a,2014
0,18,small sport utility vehicle,20,6,3.5,fwd,gas,25,honda,pilot 2wd,a,2015
1,17,small sport utility vehicle,20,6,3.5,awd,gas,24,honda,pilot 4wd,a,2015
0,20,small sport utility vehicle,23,6,3.5,fwd,gas,27,honda,pilot 2wd,a,2016
1,19,small sport utility vehicle,22,6,3.5,fwd,gas,27,honda,pilot 2wd,a,2016
2,19,small sport utility vehicle,22,6,3.5,awd,gas,26,honda,pilot 4wd,a,2016
3,18,small sport utility vehicle,21,6,3.5,awd,gas,25,honda,pilot 4wd,a,2016
0,20,small sport utility vehicle,23,6,3.5,fwd,gas,27,honda,pilot fwd,a,2017
1,19,small sport utility vehicle,22,6,3.5,fwd,gas,27,honda,pilot fwd,a,2017
2,19,small sport utility vehicle,22,6,3.5,awd,gas,26,honda,pilot awd,a,2017
3,18,small sport utility vehicle,21,6,3.5,awd,gas,26,honda,pilot awd,a,2017
0,20,small sport utility vehicle,23,6,3.5,fwd,gas,27,honda,pilot fwd,a,2018
1,19,small sport utility vehicle,22,6,3.5,fwd,gas,27,honda,pilot fwd,a,2018
2,19,small sport utility vehicle,22,6,3.5,awd,gas,26,honda,pilot awd,a,2018
3,18,small sport utility vehicle,21,6,3.5,awd,gas,26,honda,pilot awd,a,2018
0,20,small sport utility vehicle,23,6,3.5,fwd,gas,27,honda,pilot fwd,a,2019
1,19,small sport utility vehicle,22,6,3.5,fwd,gas,27,honda,pilot fwd,a,2019
2,19,small sport utility vehicle,22,6,3.5,awd,gas,26,honda,pilot awd,a,2019
3,18,small sport utility vehicle,21,6,3.5,awd,gas,26,honda,pilot awd,a,2019
0,20,small sport utility vehicle,23,6,3.5,fwd,gas,27,honda,pilot fwd,a,2020
1,19,small sport utility vehicle,22,6,3.5,fwd,gas,27,honda,pilot fwd,a,2020
2,19,small sport utility vehicle,22,6,3.5,awd,gas,26,honda,pilot awd,a,2020
3,18,small sport utility vehicle,21,6,3.5,awd,gas,26,honda,pilot awd,a,2020

In [27]:
pilot_df_2010_2020.to_csv("pilot.csv")

In [24]:
prices = pd.read_csv("true_car_listings.csv")
prices['Make'] = prices['Make'].str.lower()
prices

,Price,Year,Mileage,City,State,Vin,Make,Model
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,acura,ILX6-Speed
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,acura,ILX5-Speed
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,acura,ILX6-Speed
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,acura,ILX5-Speed
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,acura,ILXAutomatic
...,...,...,...,...,...,...,...,...
852117,63215,2017,9,Culver City,CA,YV1A22MK9H1013237,volvo,S90T6
852118,72260,2017,3201,Englewood,NJ,YV4A22PL3H1186162,volvo,XC90T6
852119,55999,2016,28941,Fort Collins,CO,YV4A22PL4G1000868,volvo,XC90AWD
852120,60240,2017,3005,San Leandro,CA,YV4A22NLXH1006162,volvo,V90
852121,76995,2017,2502,New York,NY,YV4BC0ZX1H1109845,volvo,XC90T8

In [27]:
prices_pilot = prices.loc[(prices["Make"] == "honda") & (prices["Model"] == "Pilot") | (prices["Model"] == "Pilot2WD") | (prices["Model"] == "Pilot4WD")]
prices_pilot

,Price,Year,Mileage,City,State,Vin,Make,Model
404484,12888,2011,23262,Long Island City,NY,5FNYF4H28BB075371,honda,Pilot4WD
406133,7995,2007,67821,Kahului,HI,5FNYF28537B042848,honda,Pilot2WD
406911,14995,2012,21107,Long Island City,NY,5FNYF4H71CB023691,honda,Pilot4WD
410029,12800,2007,36061,Clermont,FL,5FNYF285X7B039669,honda,Pilot2WD
410432,8981,2008,96058,Jacksonville,FL,5FNYF28228B018936,honda,Pilot2WD
...,...,...,...,...,...,...,...,...
429098,41500,2016,8799,Fairfield,Oh,5FNYF6H95GB092922,honda,Pilot4WD
429101,41860,2016,13332,Mechanicsville,VA,5FNYF6H06GB110071,honda,Pilot4WD
429102,41995,2016,24799,Brooklyn Center,MN,5FNYF6H04GB043504,honda,Pilot4WD
429112,41500,2016,38094,Houston,TX,5FNYF6H00GB043371,honda,Pilot4WD
429114,39895,2016,32732,Mechanicsville,VA,5FNYF6H98GB025828,honda,Pilot4WD

In [28]:
prices_pilot.to_csv("updated_pilot.csv")