In [2]:
import requests
import json 
import pandas as pd

In [38]:
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rav4&year=2010'
response_2010 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})
if response.status_code == requests.codes.ok:
    print(response.text)
else:
    print("Error:", response.status_code, response.text)

[{"city_mpg": 22, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 28, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 22, "cylinders": 6, "displacement": 3.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 21, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 21, "cylinders": 6, "displacement": 3.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 26, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}]

In [45]:
rav_2010 = json.loads(response_2010.text)
rav_df_2010 = pd.json_normalize(rav_2010)
rav_df_2010

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,22,sport utility vehicle,24,4,2.5,fwd,gas,28,toyota,rav4 2wd,a,2010
1,19,sport utility vehicle,22,6,3.5,fwd,gas,27,toyota,rav4 2wd,a,2010
2,21,sport utility vehicle,24,4,2.5,awd,gas,27,toyota,rav4 4wd,a,2010
3,19,sport utility vehicle,21,6,3.5,awd,gas,26,toyota,rav4 4wd,a,2010

In [46]:
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rav4&year=2011'
response_2011 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})
if response.status_code == requests.codes.ok:
    print(response.text)
else:
    print("Error:", response.status_code, response.text)

[{"city_mpg": 22, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 28, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 22, "cylinders": 6, "displacement": 3.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 21, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 21, "cylinders": 6, "displacement": 3.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 26, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}]

In [47]:
rav_2011 = json.loads(response_2011.text)
rav_df_2011 = pd.json_normalize(rav_2011)
rav_df_2011

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,21,sport utility vehicle,24,4,2.5,fwd,gas,28,toyota,rav4 2wd,a,2011
1,19,sport utility vehicle,22,6,3.5,fwd,gas,26,toyota,rav4 2wd,a,2011
2,21,sport utility vehicle,23,4,2.5,awd,gas,27,toyota,rav4 4wd,a,2011
3,19,sport utility vehicle,21,6,3.5,awd,gas,25,toyota,rav4 4wd,a,2011

In [48]:
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rav4&year=2012'
response_2012 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})
if response.status_code == requests.codes.ok:
    print(response.text)
else:
    print("Error:", response.status_code, response.text)

[{"city_mpg": 22, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 28, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 22, "cylinders": 6, "displacement": 3.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 21, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 21, "cylinders": 6, "displacement": 3.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 26, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}]

In [49]:
rav_2012 = json.loads(response_2012.text)
rav_df_2012 = pd.json_normalize(rav_2012)
rav_df_2012

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,21,sport utility vehicle,24,4.0,2.5,fwd,gas,28,toyota,rav4 2wd,a,2012
1,19,sport utility vehicle,22,6.0,3.5,fwd,gas,26,toyota,rav4 2wd,a,2012
2,21,sport utility vehicle,23,4.0,2.5,awd,gas,27,toyota,rav4 4wd,a,2012
3,19,sport utility vehicle,22,6.0,3.5,awd,gas,26,toyota,rav4 4wd,a,2012
4,78,sport utility vehicle,76,NaN,NaN,fwd,electricity,74,toyota,rav4 ev,a,2012

In [50]:
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rav4&year=2013'
response_2013 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})
if response.status_code == requests.codes.ok:
    print(response.text)
else:
    print("Error:", response.status_code, response.text)

[{"city_mpg": 22, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 28, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 22, "cylinders": 6, "displacement": 3.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 21, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 21, "cylinders": 6, "displacement": 3.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 26, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}]

In [51]:
rav_2013 = json.loads(response_2013.text)
rav_df_2013 = pd.json_normalize(rav_2013)
rav_df_2013

,city_mpg,class,combination_mpg,drive,fuel_type,highway_mpg,make,model,transmission,year,cylinders,displacement
0,78,small sport utility vehicle,76,fwd,electricity,74,toyota,rav4 ev,a,2013,NaN,NaN
1,23,small sport utility vehicle,26,fwd,gas,30,toyota,rav4 2wd,a,2013,4.0,2.5
2,22,small sport utility vehicle,25,awd,gas,28,toyota,rav4 awd,a,2013,4.0,2.5
3,22,small sport utility vehicle,25,awd,gas,29,toyota,rav4 limited awd,a,2013,4.0,2.5

In [52]:
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rav4&year=2014'
response_2014 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})
if response.status_code == requests.codes.ok:
    print(response.text)
else:
    print("Error:", response.status_code, response.text)

[{"city_mpg": 22, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 28, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 22, "cylinders": 6, "displacement": 3.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 21, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 21, "cylinders": 6, "displacement": 3.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 26, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}]

In [53]:
rav_2014 = json.loads(response_2014.text)
rav_df_2014 = pd.json_normalize(rav_2014)
rav_df_2014

,city_mpg,class,combination_mpg,drive,fuel_type,highway_mpg,make,model,transmission,year,cylinders,displacement
0,78,small sport utility vehicle,76,fwd,electricity,74,toyota,rav4 ev,a,2014,NaN,NaN
1,23,small sport utility vehicle,26,fwd,gas,30,toyota,rav4,a,2014,4.0,2.5
2,22,small sport utility vehicle,25,awd,gas,28,toyota,rav4 awd,a,2014,4.0,2.5
3,22,small sport utility vehicle,24,awd,gas,28,toyota,rav4 limited awd,a,2014,4.0,2.5

In [54]:
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rav4&year=2015'
response_2015 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})
if response.status_code == requests.codes.ok:
    print(response.text)
else:
    print("Error:", response.status_code, response.text)

[{"city_mpg": 22, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 28, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 22, "cylinders": 6, "displacement": 3.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 21, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 21, "cylinders": 6, "displacement": 3.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 26, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}]

In [55]:
rav_2015 = json.loads(response_2015.text)
rav_df_2015 = pd.json_normalize(rav_2015)
rav_df_2015

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,23,small sport utility vehicle,26,4,2.5,fwd,gas,30,toyota,rav4,a,2015
1,22,small sport utility vehicle,25,4,2.5,awd,gas,28,toyota,rav4 awd,a,2015
2,22,small sport utility vehicle,24,4,2.5,awd,gas,28,toyota,rav4 limited awd,a,2015
3,23,small sport utility vehicle,26,4,2.5,fwd,gas,30,toyota,rav4 le/xle,a,2015

In [56]:
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rav4&year=2016'
response_2016 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})
if response.status_code == requests.codes.ok:
    print(response.text)
else:
    print("Error:", response.status_code, response.text)

[{"city_mpg": 22, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 28, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 22, "cylinders": 6, "displacement": 3.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 21, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 21, "cylinders": 6, "displacement": 3.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 26, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}]

In [57]:
rav_2016 = json.loads(response_2016.text)
rav_df_2016 = pd.json_normalize(rav_2016)
rav_df_2016

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,23,small sport utility vehicle,25,4,2.5,fwd,gas,29,toyota,rav4,a,2016
1,23,small sport utility vehicle,26,4,2.5,fwd,gas,30,toyota,rav4 le/xle,a,2016
2,22,small sport utility vehicle,25,4,2.5,awd,gas,28,toyota,rav4 awd,a,2016
3,22,small sport utility vehicle,24,4,2.5,awd,gas,28,toyota,rav4 limited awd/se awd,a,2016
4,34,small sport utility vehicle,32,4,2.5,awd,gas,30,toyota,rav4 hybrid awd,a,2016

In [58]:
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rav4&year=2017'
response_2017 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})
if response.status_code == requests.codes.ok:
    print(response.text)
else:
    print("Error:", response.status_code, response.text)

[{"city_mpg": 22, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 28, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 22, "cylinders": 6, "displacement": 3.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 21, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 21, "cylinders": 6, "displacement": 3.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 26, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}]

In [59]:
rav_2017 = json.loads(response_2017.text)
rav_df_2017 = pd.json_normalize(rav_2017)
rav_df_2017

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,23,small sport utility vehicle,25,4,2.5,fwd,gas,29,toyota,rav4,a,2017
1,23,small sport utility vehicle,26,4,2.5,fwd,gas,30,toyota,rav4 le/xle,a,2017
2,22,small sport utility vehicle,25,4,2.5,awd,gas,28,toyota,rav4 awd,a,2017
3,22,small sport utility vehicle,24,4,2.5,awd,gas,28,toyota,rav4 limited awd/se awd,a,2017
4,34,small sport utility vehicle,32,4,2.5,awd,gas,30,toyota,rav4 hybrid awd,a,2017

In [60]:
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rav4&year=2018'
response_2018 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})
if response.status_code == requests.codes.ok:
    print(response.text)
else:
    print("Error:", response.status_code, response.text)

[{"city_mpg": 22, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 28, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 22, "cylinders": 6, "displacement": 3.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 21, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 21, "cylinders": 6, "displacement": 3.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 26, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}]

In [61]:
rav_2018 = json.loads(response_2018.text)
rav_df_2018 = pd.json_normalize(rav_2018)
rav_df_2018

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,23,small sport utility vehicle,25,4,2.5,fwd,gas,29,toyota,rav4,a,2018
1,23,small sport utility vehicle,26,4,2.5,fwd,gas,30,toyota,rav4 le/xle,a,2018
2,22,small sport utility vehicle,25,4,2.5,awd,gas,28,toyota,rav4 awd,a,2018
3,22,small sport utility vehicle,24,4,2.5,awd,gas,28,toyota,rav4 limited awd/se awd,a,2018
4,34,small sport utility vehicle,32,4,2.5,awd,gas,30,toyota,rav4 hybrid awd,a,2018

In [62]:
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rav4&year=2019'
response_2019 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})
if response.status_code == requests.codes.ok:
    print(response.text)
else:
    print("Error:", response.status_code, response.text)

[{"city_mpg": 22, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 28, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 22, "cylinders": 6, "displacement": 3.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 21, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 21, "cylinders": 6, "displacement": 3.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 26, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}]

In [63]:
rav_2019 = json.loads(response_2019.text)
rav_df_2019 = pd.json_normalize(rav_2019)
rav_df_2019

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,26,small sport utility vehicle,30,4,2.5,fwd,gas,35,toyota,rav4,a,2019
1,25,small sport utility vehicle,28,4,2.5,awd,gas,33,toyota,rav4 awd,a,2019
2,27,small sport utility vehicle,30,4,2.5,awd,gas,34,toyota,rav4 awd,a,2019
3,41,small sport utility vehicle,40,4,2.5,awd,gas,38,toyota,rav4 hybrid awd,a,2019

In [64]:
api_url = 'https://api.api-ninjas.com/v1/cars?limit=50&model=rav4&year=2020'
response_2020 = requests.get(api_url, headers={'X-Api-Key': '3o7SMKTDD3BVFWp3gnX79g==r0BgYjtmnGEit752'})
if response.status_code == requests.codes.ok:
    print(response.text)
else:
    print("Error:", response.status_code, response.text)

[{"city_mpg": 22, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 28, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 22, "cylinders": 6, "displacement": 3.5, "drive": "fwd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 2wd", "transmission": "a", "year": 2010}, {"city_mpg": 21, "class": "sport utility vehicle", "combination_mpg": 24, "cylinders": 4, "displacement": 2.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 27, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}, {"city_mpg": 19, "class": "sport utility vehicle", "combination_mpg": 21, "cylinders": 6, "displacement": 3.5, "drive": "awd", "fuel_type": "gas", "highway_mpg": 26, "make": "toyota", "model": "rav4 4wd", "transmission": "a", "year": 2010}]

In [65]:
rav_2020 = json.loads(response_2020.text)
rav_df_2020 = pd.json_normalize(rav_2020)
rav_df_2020

,city_mpg,class,combination_mpg,cylinders,displacement,drive,fuel_type,highway_mpg,make,model,transmission,year
0,27,small sport utility vehicle,30,4,2.5,fwd,gas,35,toyota,rav4,a,2020
1,28,small sport utility vehicle,30,4,2.5,fwd,gas,35,toyota,rav4,a,2020
2,25,small sport utility vehicle,28,4,2.5,awd,gas,33,toyota,rav4 awd,a,2020
3,27,small sport utility vehicle,29,4,2.5,awd,gas,33,toyota,rav4 awd,a,2020
4,41,small sport utility vehicle,40,4,2.5,awd,gas,38,toyota,rav4 hybrid awd,a,2020
5,25,small sport utility vehicle,27,4,2.5,awd,gas,32,toyota,rav4 awd trd offroad,a,2020
6,27,small sport utility vehicle,30,4,2.5,awd,gas,34,toyota,rav4 awd le,a,2020

In [66]:
rav4_df = pd.concat([rav_df_2010,rav_df_2011,rav_df_2012,rav_df_2013,rav_df_2014,rav_df_2015,rav_df_2016,rav_df_2017,rav_df_2018,rav_df_2019,rav_df_2020])

In [73]:
rav4_df.shape[0]

51

In [76]:
rav4_df.to_csv("rav4.csv")

In [3]:
prices = pd.read_csv("/Users/johnspurrier/Downloads/tc20171021.csv",on_bad_lines='skip')
prices['Make'] = prices['Make'].str.lower()
prices['Model'] = prices['Model'].str.lower()
prices

,Id,Price,Year,Mileage,City,State,Vin,Make,Model
0,1,16472,2015,18681,Jefferson City,MO,KL4CJBSBXFB267643,buick,encoreconvenience
1,2,15749,2015,27592,Highland,IN,KL4CJASB5FB245057,buick,encorefwd
2,3,16998,2015,13650,Boone,NC,KL4CJCSB0FB264921,buick,encoreleather
3,4,15777,2015,25195,New Orleans,LA,KL4CJASB4FB217542,buick,encorefwd
4,5,16784,2015,22800,Las Vegas,NV,KL4CJBSB3FB166881,buick,encoreconvenience
...,...,...,...,...,...,...,...,...,...
1216245,1233038,79900,2017,25,East Hanover,NJ,YV4BC0ZX0H1128239,volvo,xc90t8
1216246,1233039,80895,2017,10,Corte Madera,CA,YV4BC0ZX0H1124188,volvo,xc90t8
1216247,1233040,68755,2018,2500,Englewood,NJ,YV4A22PL4J1212676,volvo,xc90t6
1216248,1233041,72260,2017,3201,Englewood,NJ,YV4A22PL3H1186162,volvo,xc90t6
1216249,1233042,60240,2017,8342,San Leandro,CA,YV4A22NLXH1006162,volvo,v90

In [7]:
prices_rav4 = prices.loc[(prices["Make"] == "toyota") & (prices["Model"] == "rav4") |(prices["Model"] == "rav42wd")
                        |(prices["Model"] == "rav44wd")| (prices["Model"] == "rav4awd")|(prices["Model"] == "rav4ev")
                        |(prices["Model"] == "rav4le")|(prices["Model"] == "rav4hybrid")]
prices_rav4

,Id,Price,Year,Mileage,City,State,Vin,Make,Model
323268,327318,11868,2010,36940,Pinellas Park,FL,2T3BF4DV9AW074535,toyota,rav44wd
323506,327556,15495,2016,29234,Greatneck,NY,JTMBFREV0GJ062373,toyota,rav4awd
323529,327579,15900,2014,32066,Hemet,CA,2T3YL4DV4EW002733,toyota,rav4
323704,327754,13995,2013,38906,Midway City,CA,2T3YL4DV7DW001669,toyota,rav4
323718,327768,16980,2016,16151,Greatneck,NY,2T3BFREV1GW453470,toyota,rav4awd
...,...,...,...,...,...,...,...,...,...
1182942,1199638,24000,2017,1993,Scottsboro,AL,2T3BFREV4HW569621,toyota,rav4le
1183127,1199825,16995,2014,73680,Marble Falls,TX,2T3ZFREVXEW091652,toyota,rav4le
1184509,1201248,13288,2010,107527,Healdsburg,CA,JTMDK4DV7A5091359,toyota,rav44wd
1184740,1201482,18500,2012,71896,Fuquay-Varina,NC,2T3DF4DV3CW188946,toyota,rav44wd
1187188,1203976,7875,2007,234688,Hanover,PA,JTMBK32V375025095,toyota,rav44wd

In [8]:
prices_rav4.to_csv("rav4_prices.csv")